<h1>EAT DAT BURGER</h1>

<div class="form-container">

</div>

<form class="burger-form">
    <div class="form-container">
        <label for="burger-name" class="name-label">Enter a Burger name</label>
        <input name="burger-name" class="burger-name" type="text">
        <label for="devoured">ISCH DISCH DEVOURED?</label>
        <input type="checkbox" class="devoured" name="devoured" id="">
    </div>
    <button class="submit-button">Add to burger-list</button>
</form>

<h3>To Devour</h3>
<div class="burger-top">
    <img src="/img/burger-top.svg" alt="">
</div>
{{#each burgers}}
{{#unless devoured}}
<div class={{this.id}} id="not-devoured">
    <p style="display:inline;">{{this.burger_name}}</p>
    <button class="devour-button" data-id={{this.id}}>Devour It</button>
</div>
{{/unless}}
{{/each}}
<div class="burger-bottom">
    <img src="/img/burger-bottom.svg" alt="">
</div>

<h3>Devoured</h3>

<div class="burger-top">
    <img src="/img/burger-top.svg" alt="">
</div>
<div class="devoured-list">
    {{#each burgers}}
    {{#if devoured}}
    <div class={{this.id}}>
        <p style="display:inline;">{{this.burger_name}}</p>
    </div>
    {{/if}}
    {{/each}}
</div>
<div class="burger-bottom">
    <img src="/img/burger-bottom.svg" alt="">
</div>
<script>
    $('.submit-button').on('click', function (e) {
        e.preventDefault()

        var burgerName = $('.burger-name').val()
        var devoured = $('.devoured').is(":checked")
        var devoured_int = 0
        if (devoured) devoured_int = 1


        $.ajax({
            method: "POST",
            url: "/api/addBurger",
            data: {
                burger_name: burgerName,
                devoured: devoured_int
            }
        })
            .then(function (data) {
                location.reload()
            })
            .catch(function (err) {
                console.log(err)
            })
    })

    $('.devour-button').on('click', function (e) {
        e.preventDefault()
        var id = $(this).attr('data-id')

        $.ajax({
            url: 'api/devourBurger/' + id,
            method: "PUT"
        })
            .then(function () { location.reload() })
            .catch(function (err) { console.log(err) })
    })
</script>